<div class="container">
  <h1 class="bg-success text-white text-center">会員登録</h1>
</div><br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="container">
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>
  <div class="container">
    <div class="row">      
      <div class="col-5">
        <div class="field">
          <%= f.label :ニックネーム, class: "text-primary" %><br />
          <%= f.text_field :nickname, class: "form-control border-primary", autofocus: true %>
        </div>
      </div>
    </div>
    <small id="nicknameHelp" class="form-text text-primary text-muted">声優コミュニティを利用する際に使用されます。</small>
  </div><br>
  <div class="container">
    <div class="row">      
      <div class="col-7">  
        <div class="field">
          <%= f.label :メールアドレス, class: "text-primary" %><br />
          <%= f.email_field :email, class: "form-control border-primary", autocomplete: "email" %>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">      
      <div class="col-7">  
        <div class="field text-primary">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
            <lavel>（ <%= @minimum_password_length %> 文字以上 ）</lavel>
          <% end %><br />
          <%= f.password_field :password, class: "form-control border-primary", autocomplete: "new-password" %>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">      
      <div class="col-7"> 
        <div class="field">
          <%= f.label :もう1度パスワードを入力してください, class: "text-primary" %><br />
          <%= f.password_field :password_confirmation, class: "form-control border-primary", autocomplete: "new-password" %>
        </div>
      </div>
    </div>
  </div><br><br>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="actions">
          <%= f.submit "登録", class: "btn btn-warning btn-lg float-right" %>
        </div>
      </div>
    </div>
  </div>  
<% end %>
<br><br><br><br><br>