<div class="container">
  <h1 class="bg-success text-white text-center">会員情報</h1>
</div><br>
<div class="container">
  <h2 class="text-primary">ニックネーム</h2>
  <h3><%= @user.nickname %><h3>         
</div><br>
<div class="container">
  <h2 class="text-primary">メールアドレス</h2>
  <h3><%= @user.email %><h3>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-5">
      <%= link_to '登録情報の変更', edit_user_registration_path, class: "btn btn-warning btn-lg float-right" %>
    </div>
  </div>
</div><br>
<div class="container">
  <h2 class="text-primary">好きな声優</h2>
</div>
<div class="container">
  <% @favorite_voice_actors.each do |favorite_voice_actor| %>          
    <h3><%= "#{favorite_voice_actor.last_name} #{favorite_voice_actor.first_name}" %></h3>                
  <% end %>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-5">
      <%= link_to '好きな声優を選択', edit_favorite_voice_actors_path, class: "btn btn-warning btn-lg float-right" %>
    </div>
  </div>
</div><br><br>