<div class="container">
  <h5 class="text-danger">*パスワードをお忘れの際はメールアドレスを入力して送信してください。</h3>
</div><br>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container">
    <div class="row">      
      <div class="col-7">  
        <div class="field">
          <%= f.label :メールアドレス, class: "text-primary" %><br />
          <%= f.email_field :email, class:"form-control border-primary",autofocus: true, autocomplete: "email" %>
        </div>
      </div>
    </div>
  </div><br><br>
  <div class="container">
    <div class="col-7">
      <div class="actions">
        <%= f.submit "送信する", class: "btn btn-warning btn-lg float-right" %>
      </div>
    </div>
  </div>  
<% end %>