<div class="container">
  <h1 class="bg-success text-white text-center">声優コミュニティ</h1>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card border-primary">
        <div class="card-body">
          <% 3.times do |i| %>
            <% if i == 0 %> 
              <h2 class="text-primary"><%= "#{@favorite_voice_actors[i].last_name}" "#{@favorite_voice_actors[i].first_name}" %></h2>
            <% end %>
          <% end %>
          <p>登録者数</p>
          <div class="text-right">
            <%= link_to "投稿を見る", "posts/show", class: 'btn btn-warning btn-lg' %>
            <%= link_to "投稿する", new_post_path, class: 'btn btn-warning btn-lg' %>      
          </div> 
        </div>        
      </div><br>
      <div class="card border-primary">
        <div class="card-body">
          <% 3.times do |i| %>
            <% if i == 1 %> 
              <h2 class="text-primary"><%= "#{@favorite_voice_actors[i].last_name}" "#{@favorite_voice_actors[i].first_name}" %></h2>
            <% end %>
          <% end %>         
          <p>登録者数</p> 
          <div class="text-right">
            <%= link_to "投稿を見る", "posts/show", class: 'btn btn-warning btn-lg' %>
            <%= link_to "投稿する", new_post_path, class: 'btn btn-warning btn-lg' %>             
          </div>
        </div>          
      </div><br>
      <div class="card border-primary">
        <div class="card-body">
          <% 3.times do |i| %>
            <% if i == 2 %> 
              <h2 class="text-primary"><%= "#{@favorite_voice_actors[i].last_name}" "#{@favorite_voice_actors[i].first_name}" %></h2>
            <% end %>
          <% end %>
          <p>登録者数</p>
          <div class="text-right">
            <%= link_to "投稿を見る", "posts/show", class: 'btn btn-warning btn-lg' %>
            <%= link_to "投稿する", new_post_path, class: 'btn btn-warning btn-lg' %>
          </div>
        </div>         
      </div>  
    </div>
  </div>
</div><br><br>