<div class="container">
  <h1 class="bg-success text-white text-center">投稿一覧</h1>
</div><br>
<div class="container">
  <h2 class="text-primary"><%= "#{@voice_actor.last_name}" "#{@voice_actor.first_name}" %></h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-9">
      <%= link_to "投稿する", new_favorite_voice_actor_post_path(@voice_actor.id), class: 'btn btn-warning btn-lg float-right' %>
    </div>
    <div class="col-3">
      <%= link_to "登録者一覧", voice_actor_users_path(@voice_actor.id), class: 'btn btn-warning btn-lg' %>
    </div>   
  </div> 
</div><br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <% @posts.each do |post|%>
        <div class="card border-primary">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <%= simple_format(post.message, sanitize: true) %>
              </div>
              <div class="col-12">
                <h5 class="float-right"><%= post.user.nickname %></h5>
              </div>
              <div class="col-12">
                <h6 class="float-right"><%= post.created_at.strftime("%Y年%-m月%-d日") %></h6>
              </div>    
            </div>
          </div>
        </div><br>
      <% end %>
    </div>
  </div>
</div><br><br>