<div class="container">
  <h1 class="bg-success text-white text-center">声優一覧表</h1>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-2">
      <%= link_to 'あ', voice_actors_path(kana_row: 'あ'), class: "btn btn-lg btn-warning #{@kana_row == 'あ' ? 'active' : ''}" %><br><br>
      <%= link_to 'か', voice_actors_path(kana_row: 'か'), class: "btn btn-lg btn-warning #{@kana_row == 'か' ? 'active' : ''}" %><br><br>
      <%= link_to 'さ', voice_actors_path(kana_row: 'さ'), class: "btn btn-lg btn-warning #{@kana_row == 'さ' ? 'active' : ''}" %><br><br>
      <%= link_to 'た', voice_actors_path(kana_row: 'た'), class: "btn btn-lg btn-warning #{@kana_row == 'た' ? 'active' : ''}" %><br><br>
      <%= link_to 'な', voice_actors_path(kana_row: 'な'), class: "btn btn-lg btn-warning #{@kana_row == 'な' ? 'active' : ''}" %><br><br>
      <%= link_to 'は', voice_actors_path(kana_row: 'は'), class: "btn btn-lg btn-warning #{@kana_row == 'は' ? 'active' : ''}" %><br><br>
      <%= link_to 'ま', voice_actors_path(kana_row: 'ま'), class: "btn btn-lg btn-warning #{@kana_row == 'ま' ? 'active' : ''}" %><br><br>
      <%= link_to 'や', voice_actors_path(kana_row: 'や'), class: "btn btn-lg btn-warning #{@kana_row == 'や' ? 'active' : ''}" %><br><br>
      <%= link_to 'ら', voice_actors_path(kana_row: 'ら'), class: "btn btn-lg btn-warning #{@kana_row == 'ら' ? 'active' : ''}" %><br><br>
      <%= link_to 'わ', voice_actors_path(kana_row: 'わ'), class: "btn btn-lg btn-warning #{@kana_row == 'わ' ? 'active' : ''}" %><br><br>
    </div>   
    <div class="col-10">
      <div class="card border-primary">
        <div class="card-body">   
          <table class="table">
            <tbody>
              <% @voice_actors.each do |voice_actor| %>
                <tr>
                  <td><%= "#{voice_actor.last_name} #{voice_actor.first_name}" %></td>
                  <td>
                    <a href='<%= voice_actor.wikipedia_url %>'>Wikipedia</a>
                    <br>
                    <a href='<%= voice_actor.twitter_url %>'>Twitter</a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <nav aria-label="Page navigation example" class="float-right">
            <ul class="pagination">
              <li class="page-item active">
                <div class="page-link">1<span class="sr-only">(current)</span></div>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div><br>